In [1]:
import pandas as pd

In [2]:
df1 =  pd.read_csv("traffic.csv")
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [3]:
df1["Day"] = df1["Day"] + "June"
df1

   Date  Visitors  BR    Country  Clicks            Day
0     1      1500  20        USA      20    TuesdayJune
1     2       700  25         UK      35  WednesdayJune
2     3       900  15      India      37   ThursdayJune
3     4       400  35        USA      12     FridayJune
4     5       500  14     Canada      35   SaturdayJune
5     6       700  15      India      32     SundayJune
6     7       600  20      India      37     MondayJune
7     8       700  16        USA      40    TuesdayJune
8     9      1200  27        USA      52  WednesdayJune
9    10      1400  32  Australia      57   ThursdayJune