In [4]:
import pandas as pd

In [7]:
df1 = pd.read_csv("traffic.csv")
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [15]:
df5 = df1.loc[1:4, "Visitors":"Day"]
df5

   Visitors  BR Country  Clicks        Day
1       700  25      UK      35  Wednesday
2       900  15   India      37   Thursday
3       400  35     USA      12     Friday
4       500  14  Canada      35   Saturday

In [14]:
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [16]:
df5

   Visitors  BR Country  Clicks        Day
1       700  25      UK      35  Wednesday
2       900  15   India      37   Thursday
3       400  35     USA      12     Friday
4       500  14  Canada      35   Saturday

In [17]:
df6 = df1.loc[3:, "BR":"Day"]
df6

   BR    Country  Clicks        Day
3  35        USA      12     Friday
4  14     Canada      35   Saturday
5  15      India      32     Sunday
6  20      India      37     Monday
7  16        USA      40    Tuesday
8  27        USA      52  Wednesday
9  32  Australia      57   Thursday

In [18]:
df7 = df1.loc[3, "Clicks"]
df7

12

In [19]:
df8 =  df1.loc[:, "Visitors"]
df8

0    1500
1     700
2     900
3     400
4     500
5     700
6     600
7     700
8    1200
9    1400
Name: Visitors, dtype: int64

In [20]:
df1.iloc[6:9, 1:4]

   Visitors  BR Country
6       600  20   India
7       700  16     USA
8      1200  27     USA

In [22]:
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [25]:
df1.iloc[5, 3]

'India'

In [26]:
df1.loc[5, "Country"]

'India'

In [28]:
df1.drop("Day", axis=1)

   Date  Visitors  BR    Country  Clicks
0     1      1500  20        USA      20
1     2       700  25         UK      35
2     3       900  15      India      37
3     4       400  35        USA      12
4     5       500  14     Canada      35
5     6       700  15      India      32
6     7       600  20      India      37
7     8       700  16        USA      40
8     9      1200  27        USA      52
9    10      1400  32  Australia      57

In [29]:
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [30]:
df1.drop(5, axis=0)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [33]:
df1.drop(df1.columns[0], axis=1)

   Visitors  BR    Country  Clicks        Day
0      1500  20        USA      20    Tuesday
1       700  25         UK      35  Wednesday
2       900  15      India      37   Thursday
3       400  35        USA      12     Friday
4       500  14     Canada      35   Saturday
5       700  15      India      32     Sunday
6       600  20      India      37     Monday
7       700  16        USA      40    Tuesday
8      1200  27        USA      52  Wednesday
9      1400  32  Australia      57   Thursday

In [34]:
df1.columns[5]

'Day'

In [38]:
df1.drop(df1.index[1], axis=0)

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [41]:
df1["Status"] = ["New", "Old", "New", "New", "Old", "New", "Old", "New", "New", "Old"]
df1

   Date  Visitors  BR    Country  Clicks        Day Status
0     1      1500  20        USA      20    Tuesday    New
1     2       700  25         UK      35  Wednesday    Old
2     3       900  15      India      37   Thursday    New
3     4       400  35        USA      12     Friday    New
4     5       500  14     Canada      35   Saturday    Old
5     6       700  15      India      32     Sunday    New
6     7       600  20      India      37     Monday    Old
7     8       700  16        USA      40    Tuesday    New
8     9      1200  27        USA      52  Wednesday    New
9    10      1400  32  Australia      57   Thursday    Old

In [45]:
df1["check"] = ["true"] * df1.shape[0]
df1

   Date  Visitors  BR    Country  Clicks        Day Status check
0     1      1500  20        USA      20    Tuesday    New  true
1     2       700  25         UK      35  Wednesday    Old  true
2     3       900  15      India      37   Thursday    New  true
3     4       400  35        USA      12     Friday    New  true
4     5       500  14     Canada      35   Saturday    Old  true
5     6       700  15      India      32     Sunday    New  true
6     7       600  20      India      37     Monday    Old  true
7     8       700  16        USA      40    Tuesday    New  true
8     9      1200  27        USA      52  Wednesday    New  true
9    10      1400  32  Australia      57   Thursday    Old  true

In [44]:
df1.shape[0]

10

In [50]:
df1

,Date,Visitors,BR,Country,Clicks,Day,Status,check
0,1,1500,20,USA,20,Tuesday June June June,New,true
1,2,700,25,UK,35,Wednesday June June June,Old,true
2,3,900,15,India,37,Thursday June June June,New,true
3,4,400,35,USA,12,Friday June June June,New,true
4,5,500,14,Canada,35,Saturday June June June,Old,true
5,6,700,15,India,32,Sunday June June June,New,true
6,7,600,20,India,37,Monday June June June,Old,true
7,8,700,16,USA,40,Tuesday June June June,New,true
8,9,1200,27,USA,52,Wednesday June June June,New,true
9,10,1400,32,Australia,57,Thursday June June June,Old,true