In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("traffic.csv")
df1

   Date  Visitors  BR    Country  Clicks        Day
0     1      1500  20        USA      20    Tuesday
1     2       700  25         UK      35  Wednesday
2     3       900  15      India      37   Thursday
3     4       400  35        USA      12     Friday
4     5       500  14     Canada      35   Saturday
5     6       700  15      India      32     Sunday
6     7       600  20      India      37     Monday
7     8       700  16        USA      40    Tuesday
8     9      1200  27        USA      52  Wednesday
9    10      1400  32  Australia      57   Thursday

In [5]:
df2 = df1.T
df2

,0,1,2,3,4,5,6,7,8,9
Date,1,2,3,4,5,6,7,8,9,10
Visitors,1500,700,900,400,500,700,600,700,1200,1400
BR,20,25,15,35,14,15,20,16,27,32
Country,USA,UK,India,USA,Canada,India,India,USA,USA,Australia
Clicks,20,35,37,12,35,32,37,40,52,57
Day,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday

In [6]:
df2["10"] = [11, 1200, 25, "USA", 1000, "Friday"]
df2

,0,1,2,3,4,5,6,7,8,9,10
Date,1,2,3,4,5,6,7,8,9,10,11
Visitors,1500,700,900,400,500,700,600,700,1200,1400,1200
BR,20,25,15,35,14,15,20,16,27,32,25
Country,USA,UK,India,USA,Canada,India,India,USA,USA,Australia,USA
Clicks,20,35,37,12,35,32,37,40,52,57,1000
Day,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,Monday,Tuesday,Wednesday,Thursday,Friday

In [8]:
df1 = df2.T
df1

   Date Visitors  BR    Country Clicks        Day
0     1     1500  20        USA     20    Tuesday
1     2      700  25         UK     35  Wednesday
2     3      900  15      India     37   Thursday
3     4      400  35        USA     12     Friday
4     5      500  14     Canada     35   Saturday
5     6      700  15      India     32     Sunday
6     7      600  20      India     37     Monday
7     8      700  16        USA     40    Tuesday
8     9     1200  27        USA     52  Wednesday
9    10     1400  32  Australia     57   Thursday
10   11     1200  25        USA   1000     Friday